@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

body {
    // font-family: Montserrat, sans-serif;
    font-family: "Major Mono Display", monospace;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-width: 100vw; // viewport width
    min-height: 100vh; // viewport height

    background-color: #333;

    color: #fff;

    .time {
        font-size: 20vmin;
        font-weight: bold;
        color: #aaa;

        .hours,
        .minutes,
        .seconds {
            color: #fff;
        }
    }

    .date {
        font-size: 15.5vmin;
        font-weight: 100;

        color: #ffaa00;
    }
}
